@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
*{
    margin: 0;
}

body{
    background: #0A090E;
    
}

.header{

    width: 100%;
    height: 70vh;
    background-image: url('/images/Header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #181128;

}

.mobile-menu{
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    display: none;
    margin-left: 20px;
    overflow-y: hidden;
}

.mobile-menu i{
    color: #e7e7e7;
    margin-top: 25px;
    cursor: pointer;
    font-size: 30px;
}

.menu-content{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    font-size: 40px;
    font-family: Jockey One;
    font-style: normal;
    line-height: normal;
    color: #B8B8B8;
    cursor: pointer;
}

h1{color: #e7e7e7;
    font-size: 40px;
    font-family: Jockey One;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

.top-menu{
    width: 100%;
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 178px;
    height: 50px;
    margin-left: 50px;
    cursor: pointer;
}

.hamburger-menu{
    margin-right: 30px;
    cursor: pointer;
}

.hamburger-menu i{
    color: #e7e7e7;
    font-size: 35px;
}

.desktop-nav {
    display: none;
    margin-right: 50px;
}

.desktop-nav a {
    margin: 25px;
    text-decoration: none;
    color: #e7e7e7;
    margin-right: 50px;

    font-family: Jockey One;
    font-size: 25px;
}

.home-nav{
    transform: backgorund-color 0.3s ease, transform 0.3s ease;
}

.home-nav:hover{
    text-decoration: underline;
    color: #ffffff;
}

.artist-nav{
    transform: backgorund-color 0.3s ease, transform 0.3s ease;
}

.artist-nav:hover{
    text-decoration: underline;
    color: #ffffff;
}

.about-us-nav{
    transform: backgorund-color 0.3s ease, transform 0.3s ease;
}

.about-us-nav:hover{
    text-decoration: underline;
    color: #ffffff;
}

.FAQ-nav{
    transform: backgorund-color 0.3s ease, transform 0.3s ease;
}

.FAQ-nav:hover{
    text-decoration: underline;
    color: #ffffff;
}

.buy-now-mobile{
    height: auto;
    width: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40%;
    /* background-color: cadetblue; */

    font-family: Jockey One;
    font-style: italic;
    color: #e7e7e7;
    font-size: 18px;

    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}


.buy-now{
    height: 150px;
    width: 100%;
    align-items: center;
    display: none;
    flex-direction: column;
    margin-top: 20%;

    font-family: Jockey One;
    font-style: italic;
    color: #e7e7e7;
    font-size: 23px;

    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}


.buy-now-button button{
    margin-top: 20px;
    height: 60px;
    width: 200px;
    background-color: #e7e7e7;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #0A090E;
    font-style: normal;
    font-size: 25px;
    cursor: pointer;
}

.buy-now-button:hover{
    color: #0A090E;
    opacity: .5;
    transform: scale(1.1);
}



.ticket-section{
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.68);


}

.right-ticket{
    width: 175px;
    height: 210px;
    background-color: #181128;
    border-radius: 6px;
    border: 2px solid #C3BDBD;
    
}

.right-ticket-text{
    height:60px;
    color: #B8B8B8;
    font-weight: 400;
    font-size: 15px;
    /* background-color: antiquewhite; */
    margin-top: -5px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: Jockey One;
}

.main-ticket{
    width: 270px;
    height: 310px;
    background-color: #181128;
    border-radius: 6px;
    border: 2px solid #C3BDBD;
    
}

img{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom: 2px solid #C3BDBD ;
}

.main-ticket-text{
    height:80px;
    color: #B8B8B8;
    font-weight: 400;
    font-size: 20px;
    /* background-color: antiquewhite; */
    margin-top: -5px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: Jockey One;
}

.button1{
    /* background-color: aliceblue; */
    margin-left: 10px;
    height:50px;
    height: 50px;
    display: flex;
    align-items: center;
    
}

.button1 button{
    border-radius: 2px;
    border: 0px;
    height: 25px;
    width: 85px;
    font-weight: 400;
    font-size: 20px;
    font-family: Jockey One;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.left-ticket{
    width: 175px;
    height: 210px;
    background-color: #181128;
    border-radius: 6px;
    border: 2px solid #C3BDBD;
    
}

.left-ticket-text{
    height:60px;
    color: #B8B8B8;
    font-weight: 400;
    font-size: 15px;
    /* background-color: antiquewhite; */
    margin-top: -5px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: Jockey One;
}

.right-ticket{
    width: 175px;
    height: 210px;
    background-color: #181128;
    border-radius: 6px;
    border: 2px solid #C3BDBD;
    
}

.right-ticket-text{
    height:60px;
    color: #B8B8B8;
    font-weight: 400;
    font-size: 15px;
    /* background-color: antiquewhite; */
    margin-top: -5px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: Jockey One;
}

.fader{
    background-color: #362E2B;
    width: 100%;
    height: 180px;

    -webkit-mask-image: linear-gradient(#000, rgba(0,0,0,0));
    mask-image: linear-gradient(#000, rgba(0,0,0,0));
}

.artists{
    margin-top: 70px;
}

.title-artist{
    font-family: Jockey One;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    color: #C3BDBD;
    margin-left: 20px;
    /* background-color: cadetblue; */
    height: 60px;
}

.artist-selection{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.artist-selection-desktop{
    display: none;
    margin-left: 80px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.artists i{
    font-size: 25px;
    color: #C3BDBD;
    margin-left: 180px;
    justify-content: flex-end;
    cursor: pointer;
}

.refbox-artists{
    width: 120px;
    height: 45px;
    display: flex;
    align-items: center;
}

.richie{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #C3BDBD;
}


.richie p{
    margin-left: 15px;
    color: #B8B8B8;
    font-family: Jockey One;
    font-size: 20px;
}

.richie img{
    margin-left: 10px;
}

.richie i{
    height: 25px;
    width: 25px;
}

.robert{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border: 1px solid #C3BDBD;
    
}

.robert p{
    margin-left: 15px;
    color: #B8B8B8;
    font-family: Jockey One;
    font-size: 20px;
}

.robert img{
    margin-left: 10px;
}

.surgeon{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border: 1px solid #C3BDBD;
    
}

.surgeon p{
    margin-left: 15px;
    color: #B8B8B8;
    font-family: Jockey One;
    font-size: 20px;
}

.surgeon img{
    margin-left: 10px;
}

.oscar{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border: 1px solid #C3BDBD;
    
}

.oscar p{
    margin-left: 15px;
    color: #B8B8B8;
    font-family: Jockey One;
    font-size: 20px;
}

.oscar img{
    margin-left: 10px;
}

.robag{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #C3BDBD;
}

.robag p{
    margin-left: 15px;
    color: #B8B8B8;
    font-family: Jockey One;
    font-size: 20px;
}

.robag img{
    margin-left: 10px;
}

.genre{
    margin-top: 70px;
}

.title-genre{
    font-family: Jockey One;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    color: #C3BDBD;
    margin-left: 20px;
    height: 60px;
}

.genre-selection{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.genre-selection-desktop{
    display: none;
    margin-left: 80px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.genre i{
    font-size: 25px;
    color: #C3BDBD;
    margin-left: 205px;
    justify-content: flex-end;
    cursor: pointer;
}

.refbox-genre{
    width: 160px;
    height: 45px;
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
}

.genre1{
    width: 405px;
    height: 75px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #C3BDBD;
}

.genre1 p{
    margin-left: 20px;
    color: #B8B8B8;
    font-family: Jockey One;
    font-size: 20px;
}

.genre2{
    width: 405px;
    height: 75px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid #C3BDBD;
}

.genre2 p{
    margin-left: 20px;
    color: #B8B8B8;
    font-family: Jockey One;
    font-size: 20px;
}

.genre3{
    width: 405px;
    height: 75px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid #C3BDBD;
}

.genre3 p{
    margin-left: 20px;
    color: #B8B8B8;
    font-family: Jockey One;
    font-size: 20px;
}

.genre4{
    width: 405px;
    height: 75px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid #C3BDBD;
}

.genre4 p{
    margin-left: 20px;
    color: #B8B8B8;
    font-family: Jockey One;
    font-size: 20px;
}

.genre5{
    width: 405px;
    height: 75px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #C3BDBD;
}

.genre5 p{
    margin-left: 20px;
    color: #B8B8B8;
    font-family: Jockey One;
    font-size: 20px;
}

.ticketsales{
    margin-top: 70px;
}

.title-ticket{
    font-family: Jockey One;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    color: #C3BDBD;
    margin-left: 20px;
    height: 60px;
}

.ticket-selection{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.ticket-selection-desktop{
    display: none;
    margin-left: 80px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.ticketsales i{
    font-size: 25px;
    color: #C3BDBD;
    margin-left: 205px;
    justify-content: flex-end;
    cursor: pointer;
}

.refbox-ticket{
    width: 160px;
    height: 45px;
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
}

.earlybird {
    width: 405px;
    height: 75px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #C3BDBD;
}

.earlybird p{
    margin-left: 20px;
    color: #B8B8B8;
    font-family: Jockey One;
    font-size: 20px;
}

.walkin{
    width: 405px;
    height: 75px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #C3BDBD;
}

.walkin p{
    margin-left: 20px;
    color: #B8B8B8;
    font-family: Jockey One;
    font-size: 20px;
}

.footer  h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 70px;
    
font-family: Nunito Sans;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex-basis: 30%;
    margin-bottom: 20px;
    cursor: pointer;
}

.footer-section h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-section i{
    margin-top: 10px;
    font-size: 25px;
}

.social-media {
    list-style: none;
    display: flex;
    gap: 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8rem;
}

