@media only screen and (max-width: 600px){
  .footer-section{
    margin-left: 3px;
  }
}

@media only screen and (min-width: 600px){
  .header{
    height: 85vh
  }

  .buy-now-mobile{
    display: none;
  }

  .buy-now{
    display:flex;
    transform: scale(0.30);
  }

  .ticket-section{
    display: none;
  }





}

@media only screen and (min-width: 850px){
  .hamburger-menu {
    display: none;
  }

  .desktop-nav {
    display: flex;
  }
  .header{
    height: 100vh;
  }

  .artists{
    margin-top: 120px;
}

  .title-artist{
    margin-left: 80px;
    
}
  .artist-selection{
    display: none;
  }

  .artist-selection-desktop{
    display : flex;
    margin-left: 80px;
  }

  .richie{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 10px 0px 0px 0px;
    border: 1px solid #C3BDBD;
  }

  .robert{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 10px 0px 0px;
    border: 1px solid #C3BDBD;
  }

  .oscar{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 10px 0px;
    border: 1px solid #C3BDBD;
  }

  .genre{
    margin-top: 120px;
}

  .title-genre{
    margin-left: 80px;
}

  .genre-selection{
    display : none;
  }

  .genre-selection-desktop{
    display : flex;
  }

  .genre1{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 10px 0px 0px 0px;
    border: 1px solid #C3BDBD;
  }

  .genre2{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 10px 0px 0px;
    border: 1px solid #C3BDBD;
  }

  .genre4{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 10px 0px;
    border: 1px solid #C3BDBD;
  }

  .ticketsales{
    margin-top: 120px;
}

  .title-ticket{
    margin-left: 80px;
}

  .ticket-selection{
    display: none;
  }

  .ticket-selection-desktop{
    display: flex;
  }

  .earlybird {
    width: 405px;
    height: 75px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #C3BDBD;
}

.walkin{
  width: 405px;
  height: 75px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #C3BDBD;
}
}

@media only screen and (min-width: 1250px){
  .robert{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid #C3BDBD;
  }

  .surgeon{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #C3BDBD;
  }

  .oscar{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 0px 10px;
    border: 1px solid #C3BDBD;
  }

  .robag{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 10px 0px;
    border: 1px solid #C3BDBD;
  } 

  .genre2{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid #C3BDBD;
  }

  .genre3{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #C3BDBD;
  }

  .genre4{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 0px 10px;
    border: 1px solid #C3BDBD;
  }

  .genre5{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 10px 0px;
    border: 1px solid #C3BDBD;
  } 

}


@media only screen and (min-width: 1675px){
  
  .surgeon{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid #C3BDBD;
  }

  .oscar{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #C3BDBD;
  }

  .robag{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #C3BDBD;
  } 

  .genre3{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid #C3BDBD;
  }

  .genre4{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #C3BDBD;
  }

  .genre5{
    width: 405px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #C3BDBD;
  } 
}
